<form [formGroup]="messageForm" (ngSubmit)="send()">
  <label>
    Name:
    <input type="text" formControlName="name" required>
  </label>
  <table class="table">
    <tbody>
      <tr *ngFor="let item of messages">
        <td>{{ item.name }}</td>
        <td>{{ item.text }}</td>
        <td>{{ item.time | date:"HH:mm:ss" }}</td>
      </tr>
    </tbody>
  </table>
  <div class="input-group mb-3">
    <input formControlName="text" type="text" class="form-control" placeholder="Enter the message" aria-label="Message" aria-describedby="button-send" required>
    <div class="input-group-append">
      <button [disabled]="!messageForm.valid" class="btn btn-outline-secondary" type="submit" id="button-send">Send</button>
    </div>
  </div>
</form>